// Header und SideNav
.headLine {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
}


.header-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-toolbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}


.header-toolbar img {
    height: 50px;
    margin-right: 24px;
}


.sidenav {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    background-color: #FAFAFA;
    position: fixed;
    left: 0;
}


.sideNavLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
    height: 100%;

    :hover {
        cursor: pointer;
    }


    span {
        padding-bottom: 24px;
        padding-top: 24px;
        text-decoration: underline;
    }
}


.subLinks{
    display: flex;
    flex-direction: column;
    
    span{
      text-decoration: none;
      font-size:  26px;
    }
  }



.imageAndName {
    display: flex;
    flex-direction: row;
    padding-right: 40%;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;

    img {
        border-radius: 100%;
        width: 50px;
    }
}








//Main Container
.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 36px;
    margin-bottom: 36px;
    width: 100%;
}


.example-card {
    max-width: 400px;
    margin-bottom: 32px;
    min-width: 70vw;
    

    h2 {
        margin-top: 16px;
    }
}








//VorstandCards
.vorstandCard {
    display: flex;
    flex-direction: column;
    


h2{
    margin-bottom: 25px;
}
}