<!-- Header und Navbar !!!  -->

<mat-sidenav-container class="header-container">

  <mat-sidenav #sidenav class="sidenav">
    <!-- sidenav content here -->
    <div class="sideNavLinks">
      <span routerLink="/">Aktuelles</span>
      <span routerLink="/vorstand">Vorstand</span>
      <span (click)="toggleSparten()">Sparten</span>
      <div *ngIf="spartenExpanded" class="subLinks">
        <span routerLink="/boule">Boule / Petanque</span>
          <span routerLink="/damengymnastik">Damengymnastik</span>
          <span routerLink="/fussball-herren">Fußball-Herren</span>
          <span routerLink="/fussball-jugend">Fußball-Jugend</span>
          <span routerLink="/herren-aktiv">Herren-Aktiv</span>
          <span routerLink="/mutter-kind-turnen">Mutter-Kind Turnen</span>
          <span routerLink="/sauna-damen">Sauna-Damen</span>
          <span routerLink="/sauna-herren">Sauna-Herren</span>
          <span routerLink="/yoga">Yoga</span>
      </div>
      <span routerLink="/impressum">Impressum</span>
    </div>
  </mat-sidenav>


  <mat-toolbar class="header-toolbar">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- header content here -->
    <div class="imageAndName">
      <div>
        <img src="../../assets/img/DJKVorlage.jpg" alt="">
      </div>
      <span>
        <h1>DJK-Desingerode</h1>
      </span>
    </div>

  </mat-toolbar>







<!----------------------------------------------------------------------------------------------------------->





  <!-- Main Content here !!! -->

  <span class="headLine">
    <h1>Organe des Vereins</h1>
  </span>


  <div class="main-container">


    <mat-card class="example-card">
    
      <mat-card-content>
        <div class="vorstandCard">


          <span>
            <h2> 1.Vorsitzender</h2>
          </span>
          <span>Uwe Lüter </span>
          <span>Desingeröder Str. 13 </span>
          <span>37115 Duderstadt-Desingerode</span>
          <span>Email: <a href="mailto:kontakt@djkdesingerode.de">kontakt@djkdesingerode.de</a> <br>
            Email: <a href="mailto:uwe.lueter@t-online.de">uwe.lueter@t-online.de</a></span>


            <span>
              <h2> 2.Vorsitzender</h2>
            </span>
            <span>Andrè Weber</span>
            <span>Email: <a href="mailto:kontakt@djkdesingerode.de">kontakt@djkdesingerode.de</a></span>


            <span>
              <h2> Kassenwart</h2>
            </span>
            <span>Ottmar Rink</span>
            <span>Burgstr. 13</span>
            <span>37115 Duderstadt-Desingerode</span>
            <span>Email: <a href="mailto:kontakt@djkdesingerode.de">kontakt@djkdesingerode.de</a> <br>
              Email:<a href="mailto:ottmarrink62@web.de">ottmarrink62@web.de</a></span>


              <span>
                <h2> Schriftführer</h2>
              </span>
              <span>Marek Schakowske</span>
              <span>Email: <a href="mailto:kontakt@djkdesingerode.de">kontakt@djkdesingerode.de</a> </span>


              <span>
                <h2> Frauenwartin</h2>
              </span>
              <span>Anuva Isecke</span>
              <span>Email: <a href="mailto:kontakt@djkdesingerode.de">kontakt@djkdesingerode.de</a></span>
            


              <span>
                <h2> Jugendobmann</h2>
              </span>
              <span>Andreas Kirchner</span>
              <span>Email: <a href="mailto:kontakt@djkdesingerode.de">kontakt@djkdesingerode.de</a></span>



              <span>
                <h2> Fußballobmann</h2>
              </span>
              <span>Manuel Wettig</span>
              <span>Email: <a href="mailto:kontakt@djkdesingerode.de">kontakt@djkdesingerode.de</a></span>



        </div>
      </mat-card-content>
    </mat-card>

  </div>

</mat-sidenav-container>




    <!-- <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/vorstand.jpg" alt="Image">
      <mat-card-content>
        <div class="vorstandCard">
          <span>
            <h2> 2. Vorsitzender</h2>
          </span>
          <span>Andrè Weber</span>
          <span>Email: kontakt@djkdesingerode.de</span>
        </div>
      </mat-card-content>
    </mat-card> -->