<!-- Header und Navbar !!!  -->

<mat-sidenav-container class="header-container">

    <mat-sidenav #sidenav class="sidenav">
      <!-- sidenav content here -->
      <div class="sideNavLinks">
        <span routerLink="/">Aktuelles</span>
        <span routerLink="/vorstand">Vorstand</span>
        <span routerLink="/spielplan">Spielplan</span>
        <span routerLink="/veranstaltugen">Veranstaltugen</span>
        <span routerLink="/impressum">Impressum</span>
      </div>
    </mat-sidenav>
  
  
    <mat-toolbar class="header-toolbar">
  
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- header content here -->
      <div class="imageAndName">
        <div>
          <img src="../../assets/img/logo.jpg" alt="">
        </div>
        <span>
          <h1>DJK-Desingerode</h1>
        </span>
      </div>
  
    </mat-toolbar>













    <!-- VORSTAND !!! -->
  
    <span class="headLine">
        <h1>Organe des Vereins</h1>
    </span>
  
  
    <div class="main-container">


    <mat-card class="example-card">
        <img mat-card-image src="../../assets/img/vorstand.jpg" alt="Image">
        <mat-card-content>
            <div class="vorstandCard">
                <span><h2> 1. Vorsitzender</h2></span>
                <span>Max Mustermann</span>
                <span>Telefon: 01234546789</span>
                <span>E-Mail: max@mustermann.de</span>
            </div>
        </mat-card-content>
      </mat-card>



      <mat-card class="example-card">
        <img mat-card-image src="../../assets/img/vorstand.jpg" alt="Image">
        <mat-card-content>
            <div class="vorstandCard">
                <span><h2> 2. Vorsitzender</h2></span>
                <span>Jon Doe</span>
                <span>Telefon: 01234546789</span>
                <span>E-Mail: jon@doe.de</span>
            </div>
        </mat-card-content>
      </mat-card>


      <mat-card class="example-card">
        <img mat-card-image src="../../assets/img/vorstand.jpg" alt="Image">
        <mat-card-content>
            <div class="vorstandCard">
                <span><h2> Pressewart</h2></span>
                <span>Jane Doe</span>
                <span>Telefon: 01234546789</span>
                <span>E-Mail: jane@doe.de</span>
            </div>
        </mat-card-content>
      </mat-card>

    

    </div>
  
  </mat-sidenav-container>