<!-- neues Terminal öffnen
    git add .
    git commit -m "irgend ein text am besten was geändert wurde"
    git push
-->









<mat-sidenav-container class="header-container">

  <mat-sidenav #sidenav class="sidenav">
    <!-- sidenav content here -->
    <div class="sideNavLinks">
      <span routerLink="/">Aktuelles</span>
      <span routerLink="/vorstand">Vorstand</span>
      <span (click)="toggleSparten()">Sparten</span>
      <div *ngIf="spartenExpanded" class="subLinks">
        <span routerLink="/boule">Boule / Petanque</span>
        <span routerLink="/damengymnastik">Damengymnastik</span>
        <span routerLink="/fußball-herren">Fußball-Herren</span>
        <span routerLink="/fußball-jugend">Fußball-Jugend</span>
        <span routerLink="/herren-aktiv">Herren-Aktiv</span>
        <span routerLink="/mutter-kind-turnen">Mutter-Kind Turnen</span>
        <span routerLink="/sauna-Damen">Sauna-Damen</span>
        <span routerLink="/sauna-Herren">Sauna-Herren</span>
        <span routerLink="/yoga">Yoga</span>
      </div>
      <span routerLink="/impressum">Impressum</span>
    </div>
  </mat-sidenav>


  <mat-toolbar class="header-toolbar">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- header content here -->
    <div class="imageAndName">
      <div>
        <img src="../../assets/img/DJKVorlage.jpg" alt="">
      </div>
      <span>
        <h1>DJK-Desingerode</h1>
      </span>
    </div>

  </mat-toolbar>








<!----------------------------------------------------------------------------------------------------------->


      <!-- Main Content here !!!!! -->

 
  <span class="headLine">
    <h1>Aktuelles</h1>
  </span>

  <div class="main-container">



    

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>DJK-Desingerode</mat-card-title>
        <mat-card-subtitle>News</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/football.jpg" alt="Image">
      <mat-card-content>
        <p class="infoText">
          Spielergebnis vom 18.04.23 zwischen DJK-Desingerode und Borussia Dortmund endstand: 5:1 für die Heimmanschaft
          des DJK-Desingerode .
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>DJK-Desingerode</mat-card-title>
        <mat-card-subtitle>News</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/football.jpg" alt="Image">
      <mat-card-content>
        <p class="infoText">
          Spielergebnis vom 18.04.23 zwischen DJK-Desingerode und Borussia Dortmund endstand: 5:1 für die Heimmanschaft
          des DJK-Desingerode .
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>DJK-Desingerode</mat-card-title>
        <mat-card-subtitle>News</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/football.jpg" alt="Image">
      <mat-card-content>
        <p class="infoText">
          Spielergebnis vom 18.04.23 zwischen DJK-Desingerode und Borussia Dortmund endstand: 5:1 für die Heimmanschaft
          des DJK-Desingerode .
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>DJK-Desingerode</mat-card-title>
        <mat-card-subtitle>News</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/football.jpg" alt="Image">
      <mat-card-content>
        <p class="infoText">
          Spielergebnis vom 18.04.23 zwischen DJK-Desingerode und Borussia Dortmund endstand: 5:1 für die Heimmanschaft
          des DJK-Desingerode .
        </p>
      </mat-card-content>
    </mat-card>


    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>DJK-Desingerode</mat-card-title>
        <mat-card-subtitle>News</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/football.jpg" alt="Image">
      <mat-card-content>
        <p class="infoText">
          Spielergebnis vom 18.04.23 zwischen DJK-Desingerode und Borussia Dortmund endstand: 5:1 für die Heimmanschaft
          des DJK-Desingerode .
        </p>
      </mat-card-content>
    </mat-card>









  </div>

</mat-sidenav-container>