<mat-sidenav-container class="header-container">

  <mat-sidenav #sidenav class="sidenav">
    <!-- sidenav content here -->
    <div class="sideNavLinks">
      <span routerLink="/">Aktuelles</span>
      <span routerLink="/vorstand">Vorstand</span>
      <span routerLink="/spielplan">Spielplan</span>
      <span routerLink="/veranstaltugen">Veranstaltugen</span>
      <span routerLink="/impressum">Impressum</span>
    </div>
  </mat-sidenav>


  <mat-toolbar class="header-toolbar">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- header content here -->
    <div class="imageAndName">
      <div>
        <img src="../../assets/img/logo.jpg" alt="">
      </div>
      <span>
        <h1>DJK-Desingerode</h1>
      </span>
    </div>

  </mat-toolbar>

  <span class="headLine">
    <h1>Aktuelles</h1>
  </span>


  <div class="main-container">



    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>DJK-Desingerode</mat-card-title>
        <mat-card-subtitle>News</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/football.jpg" alt="Image">
      <mat-card-content>
        <p class="infoText">
          Spielergebnis vom 18.04.23 zwischen DJK-Desingerode und Borussia Dortmund endstand: 5:1 für die Heimmanschaft
          des DJK-Desingerode .
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>DJK-Desingerode</mat-card-title>
        <mat-card-subtitle>News</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/football.jpg" alt="Image">
      <mat-card-content>
        <p class="infoText">
          Spielergebnis vom 18.04.23 zwischen DJK-Desingerode und Borussia Dortmund endstand: 5:1 für die Heimmanschaft
          des DJK-Desingerode .
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>DJK-Desingerode</mat-card-title>
        <mat-card-subtitle>News</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/football.jpg" alt="Image">
      <mat-card-content>
        <p class="infoText">
          Spielergebnis vom 18.04.23 zwischen DJK-Desingerode und Borussia Dortmund endstand: 5:1 für die Heimmanschaft
          des DJK-Desingerode .
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>DJK-Desingerode</mat-card-title>
        <mat-card-subtitle>News</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/football.jpg" alt="Image">
      <mat-card-content>
        <p class="infoText">
          Spielergebnis vom 18.04.23 zwischen DJK-Desingerode und Borussia Dortmund endstand: 5:1 für die Heimmanschaft
          des DJK-Desingerode .
        </p>
      </mat-card-content>
    </mat-card>









  </div>

</mat-sidenav-container>