.sidenav {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  background-color: #FAFAFA;
  position: fixed;
  left: 0;
}



// Main Inhalt !!!!!


.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 36px;
  padding-bottom: 36px;
  min-height: 56vh;
  width: 100%;

}


.example-card {
  max-width: 400px;
}

.infoText {
  padding-top: 16px !important;
}

.example-header-image {
  background-image: url('../../assets/img/DJKVorlage.jpg');
  background-size: cover;
}