.sidenav {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    background-color: #FAFAFA;
    position: fixed;
    left: 0;
  }



//  Main Inhalt !!!!!


.main-container{
    min-height: 56vh;
}


